.loadingMore {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: var(--color-dark-100);
  font-size: 14px;
}

.endMessage {
  display: flex;
  justify-content: center;
  padding: 16px;
  color: var(--color-dark-100);
  font-size: 13px;
  text-align: center;
}
