.formContainer {
  max-width: 380px;
  max-height: 650px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}
.title {
  text-align: center;
}

.socialAuthButtons {
  display: flex;
  gap: 60px;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.additionalContent {
  display: flex;
}
