@use 'src/features/comments/styles/commentStyles.scss' as *;

.answerWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  padding: 8px 0;
}

.answerContent {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-right: 24px;
}

.answerMeta {
  @extend %sharedMetaStyles;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2px;
  margin-left: 20px;
}

.replyForm {
  @extend %replyForm;
}

.replyActions {
  @extend %replyActions;
}
