@use 'src/features/comments/styles/commentStyles.scss' as *;

.commentContent {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.iconWrapper {
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 1;
}

.likeButton {
  @extend %likeButton;
}

.heartIcon {
  @extend %heartIcon;
}

.metaInfo {
  @extend %sharedMetaStyles;
}

.likes {
  font-weight: 600;
  font-size: 11px;
}
