.avatar {
  border-radius: 50%;

  &[data-type='small'] {
    height: 24px;
    width: 24px;
  }

  &[data-type='medium'] {
    height: 36px;
    width: 36px;
  }
  &[data-type='large'] {
    height: 204px;
    width: 204px;
  }
}
