.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  width: 100%;
}

.overlay {
  background: var(--color-dark-900);
  position: fixed;
  opacity: 0.6;
  inset: 0;
  z-index: 1000;
}

.content {
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  &.sizesm {
    width: 90%;
    max-width: 378px;
  }
  &.sizemd {
    width: 90%;
    max-width: 564px;
  }
  &.sizelg {
    width: 90%;
    max-width: 972px;
  }
  &.sizeauto {
    width: auto;
    max-width: 90%;
  }
}

.modalContent {
  padding: 24px;
}

.card {
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  width: 100%;
  border-bottom: 1px solid var(--color-dark-100);
}

.closeButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  opacity: 0.7;
  transition: opacity var(--transition);

  &:hover {
    opacity: 1;
  }
  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
    border-radius: 4px;
  }
}

.title {
  color: var(--color-light-100);
  margin: 0;
}

.card {
  padding: 24px;
}

.padding-default {
  padding: 24px;
}

.padding-top-only {
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-none {
  padding: 0;
}
