.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 24px;
  height: var(--header-height);
  flex-shrink: 0;
}

.scrollArea {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.postReactions {
  display: flex;
  flex-direction: column;
}

.postLikes {
  padding-left: 24px;
  margin-top: 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 0 24px;
  cursor: pointer;

  .redHeart {
    color: red;
  }
}

.leftIcons {
  display: flex;
  gap: 24px;
}

.postLikes {
  padding-left: 24px;
}

.date {
  padding-left: 24px;
}

.commentForm {
  display: flex;
  height: 60px;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  padding-top: 6px;

  .inputWrapper {
    flex: 1;
    min-width: 0;
    height: 100%;
    border: none;
    background-color: transparent !important;

    &:hover,
    &:focus-within {
      background-color: transparent !important;
      border: none;
    }

    .commentInput {
      background-color: transparent !important;
      font-size: var(--font-size-s);
      line-height: 1.4;
    }
  }
}
