@use '@/styles/mixins' as *;

.contentHeader {
  @include flex-between;
  padding: 0 18px 0 24px;
  height: var(--header-height);
  flex-shrink: 0;
}

.scrollArea {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.postReactions {
  @include flex-column;
}

.postLikes {
  padding-left: 24px;
  margin-top: 8px;
}

.icons {
  @include flex-between;
  cursor: pointer;

  .redHeart {
    color: red;
  }

  &.modal {
    padding: 0 24px;
  }

  &.feed {
    padding: 0;
  }
}

.leftIcons {
  display: flex;
  gap: 24px;
}

.iconButton {
  padding: 0;
}

.date {
  padding: 2px 0 2px 24px;
}
