.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 8px;
  border-radius: 2px;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--color-info-500);
  color: var(--color-light-100);

  &:hover:not(:disabled) {
    background-color: var(--color-info-100);
  }

  &:active:not(:disabled) {
    background-color: var(--color-info-700);
    color: #edf3fa;
  }
  
  &:disabled {
    background-color: var(--color-info-900);
    color: #8d9094;
  }
}

.secondary {
  background-color: var(--color-dark-500);
  color: var(--color-light-100);

  &:hover:not(:disabled) {
    background-color: var(--color-dark-300)
  }

  &:active:not(:disabled) {
    background-color: #212121;
  }

  &:focus:not(.active):not(:disabled) {
    background-color: var(--color-dark-500);
    outline: none;
  }

  &:disabled {
    background-color: var(--color-dark-700);
    color: #8d9094;
  }
}

.outline {
  background-color: transparent;
  border-color: var(--color-info-500);
  color: var(--color-info-500);

  &:hover:not(:disabled) {
    border-color: var(--color-info-100);
    color: var(--color-info-100)
  }

  &:active:not(:disabled) {
    background-color: var(--color-info-700);
    color: var(--color-info-700)
  }

  &:focus:not(.active):not(:disabled) {
    border-color: var(--color-info-700);
    outline: none;
    color: var(--color-info-700);
  }

  &:disabled {
    border-color: var(--color-info-900);
    color: var(--color-info-900);
  }
}

.text {
  background-color: transparent;
  color: var(--color-info-500);

  &:hover:not(:disabled) {
    color: var(--color-info-100);
  }

  &:active:not(:disabled) {
    color: var(--color-info-700);
  }

  &:focus:not(.active):not(:disabled) {
    color: var(--color-info-700);
    outline: none;
  }

  &:disabled {
    color: var(--color-info-900)
  }
}

.link {
  background-color: transparent;
  color: var(--color-info-500);
  padding: 0;
  border: none;

  &:hover:not(:disabled) {
    text-decoration: underline;
  }

  &:focus:not(.active):not(:disabled) {
    color: var(--color-info-700);
    outline: none;
  }

  &:disabled {
    color: var(--color-info-900)
  }
}

.small {
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
}

.medium {
  height: 36px;
  padding: 6px 24px;
  font-size: 16px;
}

.large {
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
}

.fullWidth {
  width: 100%;
}

.startIcon,
.endIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: inline-flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}
