.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 378px;
  padding: 23px 24px 30px;

  .buttonsWrapper {
    display: flex;
    column-gap: 60px;
    margin-top: 13px;

    .button {
      padding: 0;
      background-color: unset;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
