.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 378px;
  padding: 23px 24px 30px;

  .socialLinksWrap {
    margin-top: 13px;
  }

  .content {
    width: 100%;
    text-align: end;

    .forgot {
      color: var(--color-light-900);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .account {
    margin-top: 18px;
  }

  .signUp {
    margin-top: 6px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
