.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  margin: 0 auto;
  padding: 23px 24px 30px;

  .socialLinksWrap {
    margin-top: 13px;
  }

  .content {
    width: 100%;
    text-align: end;

    .forgot {
      font-size: var(--font-size-s);
      color: var(--color-light-900);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .account {
    margin-top: 18px;
  }

  .signUp {
    margin-top: 6px;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-m);
    color: var(--color-accent-500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .signUp,
  .forgot {
    &[aria-disabled='true'] {
      color: var(--color-dark-100);
      pointer-events: none;
    }
  }
}
