.card {
  max-width: 380px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.title {
  text-align: center;
}

.iconsContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.icon {
  height: 36px;
  width: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contentContainer {
  display: flex;
  gap: 20px;
}

.contentContainer .checkboxLabel {
  font-size: 12px;
}

.footer {
  text-align: center;
  a {
    text-decoration: none;
    color: var(--color-accent-500);
    font-weight: 600;
  }
}

.label {
  font-size: 12px;

  a {
    color: var(--color-accent-500);
  }
}

.error {
  color: red;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

.disabledLink {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
}
