.formContainer {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.charCount {
  display: flex;
  justify-content: flex-end;
  color: var(--color-light-900);
  margin-top: 5px;
}
