.container {
  max-width: 972px;
  width: 100%;
  min-height: 400px;
  max-height: 564px;
  height: 100%;
  display: flex;
  background-color: var(--color-dark-300);
  border: solid 1px var(--color-dark-100);
  flex: 1;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 24px;
  height: var(--header-height);
  flex-shrink: 0;
}

.imageWrapper {
  flex: 1;
  position: relative;
  width: 50%;
}

.contentWrapper {
  display: flex;
  flex: 1;
  width: 50%;
  flex-direction: column;
}

.scrollArea {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
