.editForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.charCounter {
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size-xs);
  color: var(--color-light-900);
}

.actionButtons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.editTextArea {
  width: 412px;
}

.userCard {
  margin-bottom: 48px;
}
