.container {
  max-width: 972px;
  width: 100%;
  min-height: 400px;
  height: 564px;
  display: flex;
  background-color: var(--color-dark-300);
  border: solid 1px var(--color-dark-100);
  flex: 1;
}

.mainContentWrapper {
  display: flex;
  flex: 1;
  width: 50%;
  flex-direction: column;
}

.imageWrapper {
  flex: 1;
  position: relative;
  width: 50%;
}
