.usersPickerList {
  background-color: var(--color-dark-900);
  position: absolute;
  left: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
}

.userItem {
  cursor: pointer;
  margin-bottom: 10px;
}

.noResultsText {
  text-align: center;
}
