html {
    box-sizing: border-box;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        font-size: 14px;
        background-color: #171717 !important; /* Ensures autofilled background matches manual input */
        -webkit-text-fill-color: white !important; /* Ensures text color remains consistent */
        -webkit-box-shadow: 0 0 0 1000px #171717 inset !important; /* Forces background color */
        transition: background-color 5000s ease-in-out 0s; /* Prevents quick white flash */
    }

    input:-webkit-autofill:disabled {
        -webkit-text-fill-color: #4c4c4c !important; /* Text color for disabled input with autofill */
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-family-primary), sans-serif;
    line-height: var(--line-height-m);
    color: var(--color-light-100);

    background-color: var(--color-dark-900);
    min-height: 100vh;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 24px auto 0 auto;
    display: flex;
    flex-direction: column;
}
