
.layoutWrapper {
  display: flex;
  flex-direction: column;
	min-height: 100vh;
	height: 100%;
}

.containerLayout {
  display: flex;
  flex: 1;
  height: calc(100vh - var(--header-height));
	max-width: 1280px;
	width: 100%;
	padding: 0 60px;
	margin: 0px auto;
}

.sidebarContainer {
	max-width: 160px;
	width: 100%;
  display: flex;
}

.content {
  flex: 1;
  padding: 36px 0 0 24px;
  overflow-y: auto;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
