.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContainer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.containerLayout {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
}

.sidebarContainer {
  max-width: 240px;
  height: 100%;
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
