.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.containerLayout {
  display: flex;
  gap: 24px;
  flex: 1;
  max-width: 1280px;
  width: 100%;
  padding: 0 60px;
  margin: var(--header-height) auto 0;
  position: relative;
}

.sidebarContainer {
  position: sticky;
  top: var(--header-height);
  max-width: 160px;
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  overflow: auto;
  border-right: 1px solid var(--color-dark-300);
  border-radius: 5px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  flex: 1;
  padding-top: 36px;
  max-width: 972px;
  margin: 0px auto;

  &.leftPadding {
    padding-left: 24px;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
