.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 512px;
  width: 100%;
}

.previewContainer {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: contain;
  }
}

.imageSlider {
  width: 100%;
  height: 100%;
}

.filtersContainer {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 0 0 0 55px;
}

.filtersGrid {
  display: grid;
  grid-template-columns: repeat(3, 108px);
  gap: 24px;
  padding: 24px 0 30px;
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 108px;
  max-height: 138px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.filterPreview {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 4px;
}

.filterImageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.previewThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filterName {
  font-size: 12px;
  text-align: center;
}
