.formContainer {
  width: 100%;
  max-width: 486px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.descriptionWrapper {
  padding: 24px;
  max-width: 480px;
}

.charCount {
  display: flex;
  justify-content: flex-end;
  color: var(--color-light-900);
  margin-bottom: 20px;
}

.typographyContainer {
  margin-top: 24px;
}

.font {
  color: var(--color-light-900);
}
