.formContainer {
  width: 100%;
  max-width: 486px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.userCard {
  margin-bottom: 24px;
}

.charCount {
  display: flex;
  justify-content: flex-end;
  color: var(--color-light-900);
  margin-top: 5px;
}
