.header {
  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);
  flex: 0 0 60px;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100vw;
  transform: translateZ(0);
  will-change: transform;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 80rem;
  padding: 0px 60px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  color: var(--color-light-100);
  font-family: var(--font-family-primary), sans-serif;
  font-weight: var(--font-weight-semibold);
  font-size: 26px;
  letter-spacing: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationContainer {
  width: 20px;
  margin-right: 45px;
  height: 20px;
  display: flex;
  align-items: center;
}

.notifications {
  position: relative;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

.number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -2px;
  right: -2px;
  background-color: var(--color-danger-500);
  font-size: 10px;
  line-height: 8px;
}

.selector {
  align-items: center;
  width: 160px !important;
  height: 22px !important;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-left: 36px;
}

.selectItem {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.authActions {
  display: flex;
  align-items: center;
}
