.card {
  margin-top: 6px;
  padding: 12px 24px;

  .dateWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 45px;

    .label {
      color: var(--color-light-900);
    }

    .value {
      margin-top: 10px;
    }
  }
}

.title {
  margin-top: 30px;
}
.terminateButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 24px;
  margin-bottom: 18px;
}
