.management {
	.title {
		margin-top: 30px;
	}

	.card {
		margin-top: 6px;
		padding: 12px 24px;

		.dateWrapper {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 45px;

			.label {
				color: var(--color-light-900);
			}

			.value {
				margin-top: 10px;
			}
		}

		.radioGroup {
			flex-direction: column;
			gap: 20px;
		}
	}

	.checkbox {
		margin-top: 20px;
	}

	.buttons {
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 54px;

		.button {
			width: 96px;
			height: 64px;
			padding: 9px 12px;
			background-color: var(--color-dark-500);
			border: 1px solid var(--color-dark-300);
			border-radius: 6px;
		}
	}

}