.trigger {
  all: unset;
  position: relative;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

.number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 4px;
  border-radius: 50%;
  top: -3px;
  right: -3px;
  background-color: var(--color-danger-500);
  font-size: 10px;
  line-height: 8px;
}

.popoverContent {
  padding: 12px 8px 12px 12px;
  z-index: 1001;
  background-color: var(--color-dark-500);
  width: 355px;
  border: 1px solid var(--color-dark-100);
  border-radius: 4px;
}

.scrollWrapper {
  height: 400px;
}

.scrollContent {
  padding-right: 10px;
}

.title {
  padding-bottom: 12px;
}

.newNotification {
  padding: 12px 0 5px;

  span {
    color: var(--color-accent-700);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
  }
}

.timeStamp {
  padding: 5px 0 12px;
}

.arrowContent {
  position: relative;
  bottom: -6px;
  display: inline-block;
  height: 9px;
  transform: rotate(180deg) translateX(-10px);
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -8px;
    left: 0;
    background-color: var(--color-dark-500);
  }
}

.notificationWrapper {
  position: relative;
  &:hover {
    .deleteButton {
      visibility: visible;
      opacity: 1;
    }
  }
}

.deleteButton {
  all: unset;
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  &:hover {
    background-color: var(--color-dark-100);
  }
}
