.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  border-radius: 8px;
  padding: 2rem;
  background: transparent;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
}

.loadingContainer,
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loadingText {
  margin-bottom: 2rem;
  font-weight: 500;
}

.errorText {
  color: var(--color-danger-500);
  margin-bottom: 1rem;
  font-weight: 500;
}

.loaderWrapper {
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-accent-500);
}
