.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 72px;
}

.dropzone {
  width: 222px;
  height: 228px;
  border: 2px dashed var(--color-dark-300);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dragging {
  border-color: var(--color-primary-500);
  background-color: rgba(0, 102, 204, 0.05);
}

.placeholder {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: var(--color-dark-500);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  color: var(--color-light-100);
}

.dropText {
  color: var(--color-light-100);
  max-width: 80%;
  margin-top: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 222px;
}

.button {
  width: 100%;
}
