.sidebar {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--color-light-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding-top: 72px;
  padding-bottom: 36px;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebarItem {
  width: 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebarLink {
  display: inline-flex;
  align-items: center;
  color: var(--color-light-100);
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 4px;
  font-size: 14px;
  line-height: 171%;
  font-weight: var(--font-weight-medium);
  gap: 12px;

  &:hover:not(.sidebarLink--disabled) {
    color: var(--color-accent-100);

    .icon {
      color: var(--color-accent-100);
    }
  }

  &.active {
    color: var(--color-accent-500);

    .icon {
      color: var(--color-accent-500);
      font-size: 22px;
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--color-dark-100);
    pointer-events: none;

    .icon {
      color: var(--color-dark-100);
    }

    .title {
      color: var(--color-dark-100);
    }
  }
}

.icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 24px;
}

.customItem {
  @extend .sidebarLink;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.badge {
  background-color: var(--color-danger-500);
  color: white;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  padding: 2px 0 0 0;
  border-radius: 50%;
  margin-left: auto;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
