.profilePhotoWrapper {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  width: 100%;
  min-height: 480px;
  padding-top: 28px;
}

.crop {
  background-color: var(--color-dark-300);
  position: relative;
  width: 332px;
  height: 340px;
  z-index: 1;
  margin: auto;
}

.cropContainer {
  width: 100%;
  height: 100%;
  min-height: 340px;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .cropImage {
    // min-width: 332px;
    // min-height: 340px;
  }
  .cropArea {
    width: 316px !important;
    height: 316px !important;
    border: none !important;
    box-shadow: 0 0 0 9999px rgba(23, 23, 23, 0.87) !important;
  }
}

.controlsWrapper {
  padding: 36px 24px;
  text-align: end;
}
