.profilePhotoWrapper {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.avatarGroup {
  position: relative;
  border-radius: 50%;
  height: 204px;
  width: 204px;
  border-radius: 50%;
}

.avatar {
  border-radius: 50%;
}

.avatarFallback {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--color-dark-500);
  cursor: pointer;
}

.removeButton {
  position: absolute;
  top: 25px;
  right: 15px;

  button {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: var(--color-danger-500);
    color: var(--color-light-100);
    border: none;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: var(--transition);
    &:hover {
      background-color: var(--color-danger-300);
    }

    &:disabled {
      background-color: var(--color-light-900);
      cursor: auto;
    }
  }

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-color: var(--color-dark-900);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
