.sidebar {
  width: 220px;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
  color: var(--color-light-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding-top: 72px;
  padding-bottom: 36px;
  border-right: 1px solid var(--color-dark-700);
  border-radius: 5px;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.sidebarContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebarGroup {
  width: 100%;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebarBottomList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
  width: 100%;
}

.sidebarItem {
  width: 100%;
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  padding-left: 60px;
  color: var(--color-light-100);
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 4px;
  font-size: 14px;
  line-height: 171%;
  font-weight: 500;

  &:hover:not(&--disabled) {
    color: var(--color-accent-100);

    .icon {
      color: var(--color-accent-100);
    }
  }

  &:focus {
    outline: none;
    border: 2px solid var(--color-accent-700);
  }

  &.active {
    color: var(--color-accent-500);

    .icon {
      color: var(--color-accent-500);
      fill: var(--color-accent-500);

      svg {
        fill: var(--color-accent-500);
        stroke: var(--color-accent-500);
      }
    }

    .title {
      color: #1e88e5;
      font-weight: 500;
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--color-dark-300);
    opacity: 0.5;

    .icon {
      color: var(--color-dark-300);
    }

    .title {
      color: var(--color-dark-300);
    }
  }
}

.disabled {
  .sidebarLink {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;

    .icon,
    .title {
      color: var(--color-dark-300);
    }
  }
}

.icon {
  margin-right: 12px;
  width: 18px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  font-size: 20px;
}

.title {
  font-size: 14px;
  font-weight: 400;
}
