.sidebar {
  width: 220px;
  margin: 0 auto;
  height: 100%;
  background-color: transparent;
  color: var(--color-light-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding-top: 72px;
  padding-bottom: 36px;
  border-right: 1px solid var(--color-dark-700);
  border-radius: 5px;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebarItem {
  width: 100%;
  margin-bottom: 24px;
  padding-left: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sidebarLink {
  display: inline-flex;
  align-items: center;
  color: var(--color-light-100);
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 4px;
  font-size: 14px;
  line-height: 171%;
  font-weight: 500;

  &:hover:not(.disabled) {
    color: var(--color-accent-100);

    .icon {
      color: var(--color-accent-100);
    }
  }

  &:active {
    color: var(--color-accent-100);

    &:active {
      color: var(--color-accent-500);

      .icon {
        color: var(--color-accent-300);
        font-size: 24px;
        width: 24px;
        height: 24px;

        svg {
          fill: var(--color-accent-300);
          stroke: var(--color-dark-700);
          stroke-width: 2px;
        }
      }
    }
  }

  &:focus {
    outline: none;
    border: 2px solid var(--color-accent-700);
    border-radius: 2px;
  }

  &.active {
    color: var(--color-accent-500);

    .icon {
      color: var(--color-accent-500);
      fill: var(--color-accent-500);
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--color-dark-100);
    pointer-events: none;

    .icon {
      color: var(--color-dark-100);
    }
  }
}

.icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-100);
  font-size: 24px;
}
