.profileContainer {
  display: flex;
}

.profileImageContainer {
  margin-right: 38px;
  margin-bottom: 48px;
}

.profileImageWrapper {
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-light-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageWrapper img {
  object-fit: cover;
}

.profileInfoContainer {
  width: 100%;
}

.statItem {
  text-align: center;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.followBlock {
  display: flex;
  gap: 12px;
}

.profileNameBudget {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileBio {
  line-height: 1.5;
  margin-bottom: 10px;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  max-width: 395px;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 23px;
}
