.commentWrapper {
  display: flex;
  font-size: var(--font-size-s);
  padding: 18px 24px 0 24px;
  gap: 8px;
}

.commentBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  padding-right: 24px;
}

.sharedMetaStyles {
  font-size: var(--font-size-xs);
  color: var(--color-light-900);
}

.meta {
  @extend .sharedMetaStyles;
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.reply {
  @extend .sharedMetaStyles;
  font-weight: var(--font-weight-semibold);
  padding: 0;
  height: var(--line-height-m);
}

.iconWrapper {
  position: absolute;
  top: 16px;
  right: 0;
}

.heartIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
