.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;

  .countUsersWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    width: 203px;
    height: 48px;
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
    background-color: var(--color-dark-700);

    .number {
      display: flex;
      align-items: center;
      padding-inline: 10px;
      height: 100%;
      border-right: 1px solid var(--color-dark-300);

      &:last-child {
        border: none;
      }
    }
  }
}
