.profileContainer {
  display: flex;
}

.profileImageContainer {
  margin-right: 60px;
}

.profileImage {
  border-radius: 50%;
  object-fit: cover;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.statItem {
  text-align: center;
}

.profileBio {
  max-width: 700px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.subscriptionBadge {
  color: var(--color-light-100);
  font-weight: bold;
  margin-top: 10px;
}