.profileContainer {
  display: flex;
}

.profileImageContainer {
  margin-right: 60px;
}

.profileImageWrapper {
  border-radius: 50%;
  overflow: hidden;
  background-color:var(--color-light-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImageWrapper img {
  object-fit: cover;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.statItem {
  text-align: center;
}

.profileBio {
  max-width: 700px !important;
  line-height: 1.5;
  margin-bottom: 10px;
}

.subscriptionBadge {
  color: var(--color-light-100);
  font-weight: bold;
  margin-top: 10px;
}