.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 234px);
  gap: 12px;
  justify-content: center;
  margin-bottom: 20px;
}

.gridItem {
  width: 100%;
  height: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.03;
  }
}

.loaderContainer {
  margin: 20px 0;
}

.noPostsMsg {
  display: flex;
  justify-content: center;
}
