.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  flex: 1 1 auto;
}

.formArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.selectGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  span {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.select {
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.label {
  font-size: var(--font-size-s);
  color: var(--color-light-900);
}
.submitButton {
  align-self: flex-end;
}
