.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--color-dark-300);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  border-right: 1px solid var(--color-dark-300);
}

.searchBox {
  height: 70px;
  padding: 18px 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.mainContent {
  flex: 1;
}
