.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatHeader {
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.chatBody {
  flex: 1;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.chatFooter {
  border-top: 1px solid var(--color-dark-300);
}
