.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatHeader {
  height: 89px;
  display: flex;
  padding-left: 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.chatBody {
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 12px;
  border-radius: 0;
}

.chatFooter {
  border-top: 1px solid var(--color-dark-300);
}
.noMessages {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollArea {
  height: 100%;
  width: 100%;
}
.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
