@use '@/styles/mixins' as *;

.chatArea {
  @include flex-column;
  flex: 1;
  height: 100%;
}

.chatHeader {
  height: 89px;
  display: flex;
  padding-left: 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.chatBody {
  @include flex-column;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 12px;
  height: 100%;
}

.noMessages {
  @include flex-center;
  height: 100%;
}

.chatFooter {
  border-top: 1px solid var(--color-dark-300);
}
