.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatHeader {
  height: 91px;
  display: flex;
  padding-left: 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.chatBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 12px;
  height: 100%;
}

.noMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scrollArea {
  height: 100%;
  width: 100%;
}

.chatFooter {
  border-top: 1px solid var(--color-dark-300);
}
