.inputBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 95px;
}

.inputBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px 24px;
}

.imagePreview {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  margin-left: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .removeButton {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
  }
}

.inputWrapper {
  height: 100%;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus-within {
    background-color: transparent;
  }
}

.messageInput {
  font-size: var(--font-size-s);
  line-height: 1.4;
  background-color: transparent;
}

.iconsWrapper {
  display: flex;
  margin-right: 12px;
}

.iconButton {
  background: none;
  border: none;
  color: var(--color-light-100);
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-dark-500);
  }
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
