.bubbleRow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}

.partner {
  flex-direction: row;
  justify-content: flex-start;
}

.owner {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.bubble {
  max-width: 60%;
  padding: 16px 8px;
  border-radius: 16px;
  font-size: 15px;
  position: relative;
  word-break: break-word;
}

.receiverBubble {
  background: #333333;
  margin-left: 4px;
}

.senderBubble {
  background: #234e99;
  margin-right: 4px;
}

.message {
  display: block;
}

.footer {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  margin-top: 4px;
}

.timestamp {
  display: block;
  font-size: 11px;
  margin-top: 4px;
  text-align: right;
  .receiverTimestamp {
    color: var(--color-light-900);
  }
  .senderTimestamp {
    color: var(--color-accent-100);
  }
}
