.messenger {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  border: 1px solid var(--color-dark-300);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  border-right: 1px solid var(--color-dark-300);
}

.searchBox {
  height: 70px;
  padding: 18px 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

// .scrollArea {
//   flex: 1;
//   min-height: 0;
//   overflow-y: auto;
// }

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  display: flex;
}

.chatHeader {
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.chatBody {
  flex: 1;
  overflow-y: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.chatFooter {
  border-top: 1px solid var(--color-dark-300);
}

.inputBox {
  display: flex;
  height: 60px;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  padding-left: 6px;

  .inputWrapper {
    flex: 1;
    min-width: 0;
    height: 100%;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus-within {
      background-color: transparent !important;
    }

    .messageInput {
      font-size: var(--font-size-s);
      line-height: 1.4;
      background-color: transparent;
    }
  }
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 290px;
  background-color: var(--color-dark-300);
  border-radius: 8px;
}
