.bubbleRow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.receiver {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
}

.sender {
  justify-content: flex-end;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.bubble {
  border-radius: 8px;
  max-width: 60%;
  padding: 2px 8px;
  word-break: break-word;

  // Text only messages
  &.textOnly {
    &.receiverBubble {
      background-color: var(--color-dark-300);
    }
    &.senderBubble {
      background-color: var(--color-accent-900);
    }
  }

  // Image only messages
  &.imageOnly {
    background: none;
    border-radius: 2px;
    padding: 0;
  }

  // Image with text messages
  &.imageWithText {
    background: none;
    border-radius: 2px 2px 8px 8px;
    padding: 0;

    &.receiverBubble {
      border: 1px solid var(--color-dark-300);
    }
    &.senderBubble {
      border: 1px solid var(--color-accent-900);
    }
  }
}

.imageContainer {
  border-radius: 2px;
  overflow: hidden;

  .picture {
    border-radius: inherit;
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    max-width: 360px;
    max-height: 360px;
  }
}

.textContainer {
  border-radius: 0 0 8px 8px;
  padding: 4px 8px;

  // Background colors for text containers
  .receiverBubble & {
    background-color: var(--color-dark-300);
  }
  .senderBubble & {
    background-color: var(--color-accent-900);
  }
}

.footer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;

  // Footer for image only messages
  &.imageOnlyFooter {
    background: transparent;
    border-radius: 0 0 2px 2px;
    margin-top: 0;
    padding: 4px 8px;

    .timestamp {
      color: var(--color-light-100);
    }
    .statusIcon {
      color: var(--color-light-100);
    }
  }
}

.timestamp {
  display: block;
  font-size: var(--font-size-xs);
  text-align: right;

  // Color variants
  .receiver & {
    color: var(--color-light-900);
  }
  .sender & {
    color: var(--color-accent-100);
  }
}

.statusIcon {
  color: var(--color-accent-100);
}

.contextMenuContent {
  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35);
  z-index: 1000;
}

.contextMenuItem {
  padding: 4px 12px;
  border-radius: 4px;
  font-size: var(--font-size-xs);
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;

  &:hover {
    background: var(--color-dark-500);
    outline: none;
  }
}

.editInput {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  font-size: var(--font-size-s);
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  resize: none;
  word-wrap: break-word;

  &:focus {
    border: 1px solid var(--color-accent-500);
    outline: none;
  }
}
