.bubbleRow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
}

.receiver {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
}

.sender {
  justify-content: flex-end;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.bubble {
  max-width: 60%;
  padding: 2px 8px;
  border-radius: 8px;
  word-break: break-word;
}

.receiverBubble {
  background: #333333;
}

.senderBubble {
  background: #234e99;
}

.footer {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
}

.timestamp {
  display: block;
  font-size: var(--font-size-xs);
  text-align: right;
}

.receiverTimestamp {
  color: var(--color-light-900);
}
.senderTimestamp {
  color: var(--color-accent-100);
}

.statusIcon {
  color: var(--color-accent-100);
}
