.sidebar {
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-width: 270px;
  border-right: 1px solid var(--color-dark-300);
}

.searchBox {
  height: 70px;
  padding: 18px 12px;
  background-color: var(--color-dark-500);
  border-bottom: 1px solid var(--color-dark-300);
}

.loader {
  margin-top: 12px;
}

.body {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.usersList {
  padding: 12px 0 0 12px;
  flex: 1 1 auto;
  min-height: 0;
}

.userCard {
  align-items: center;
}
