.iconsContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.icon {
  height: 36px;
  width: 36px;
  color: #fff;
}

.iconBtn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0.7;
  }
}

.loadingIndicator {
  animation: pulse 1.5s infinite;
}