.postWrapper {
  display: flex;
  font-size: var(--font-size-s);
  padding: 18px 24px 0 24px;
  gap: 8px;
}

.postBody {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 24px;
}

.userName {
  text-decoration: none;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  color: var(--color-light-100);
  margin-right: 4px;
}

.date {
  margin-left: 42px;
}
