.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
}
.contentWrapper {
  display: flex;
}

.photoArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
  width: 30%;
  height: 100%;
}

.formArea {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 24px;
}

.selectGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  span {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.select {
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.label {
  font-size: var(--font-size-s);
  color: var(--color-light-900);
}

.separator {
  position: relative;
  &::before {
    position: absolute;
    top: 0px;
    left: -240px;
    display: block;
    content: '';
    background-color: var(--color-dark-100);
    height: 1px;
    width: 240px;
  }
}

.error {
  font-size: var(--font-size-s);
  color: var(--color-danger-500);
  margin-top: 0;
  a {
    color: var(--color-accent-500);
    // font-size: var(--font-size-s);
  }
}

.submitButton {
  align-self: flex-end;
}

.searchCityInput {
  width: 100%;
  padding: 6px 8px;
  margin-bottom: 8;
  background-color: var(--color-dark-500);
}
