.container {
  max-width: 972px;
  width: 100%;
  height: 564px;
  display: flex;
  background-color: var(--color-dark-300);
  border: solid 1px var(--color-dark-100);
  flex: 1;

  .imageWrapper {
    flex: 1;
    position: relative;
    width: 50%;
  }

  .contentWrapper {
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 18px 0 24px;
      height: var(--header-height);
      flex-shrink: 0;
    }

    .scroll {
      flex: 1;
      min-height: 0;
      overflow-y: auto;
    }

    .footer {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin: 12px 24px;

      .likes {
        display: flex;
        align-items: center;
        column-gap: 12px;
      }

      .data {
        color: var(--color-light-900);
      }
    }
  }
}
