.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  gap: 12px;
}

.gridItem {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.06;
  }
}

.loaderContainer {
  margin: 20px 0;
}
