.container {
	height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h2 {
		margin-bottom: 20px;
	}

	img {
		margin-top: 72px;
	}
}

.description {
	max-width: 295px;
	text-align: center;
}

.imageContainer {
	text-align: center;
	img {
		max-width: 100%;
		object-fit: contain;
	}
}