.card {
  max-width: 380px;
  max-height: 650px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.title {
  text-align: center;
}

.iconsContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.icon {
  height: 36px;
  width: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--color-accent-500);
}
