@mixin disabled($color) {
  background-color: transparent;
  color: $color;
  border-color: $color;
  pointer-events: none;
  cursor: default;
}

.root {
  .tabList {
    display: flex;
    position: relative;
    z-index: 0;

    .tab {
      position: relative;
      width: 100%;
      padding: 6px 24px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--color-dark-100);
      color: var(--color-dark-100);
      font-weight: var(--font-weight-semibold);
      line-height: 24px;
      transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: rgba(35, 78, 153, 15%);
      }

      &:focus-visible {
        outline: 2px solid var(--color-accent-700);
        border-radius: 2px;
        z-index: 1;
      }

      &[data-state='active'] {
        background-color: rgba(115, 165, 255, 15%);
        border-bottom: 2px solid var(--color-accent-500);
        color: var(--color-accent-500);

        &[data-disabled] {
          @include disabled(var(--color-accent-900));
        }
      }

      &[data-disabled] {
        @include disabled(var(--color-dark-300));
      }
    }
  }
}
