.header {
  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);
  padding: 12px 62px 12px 60px;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.logo {
  color: var(--color-light-100);
  font-family: var(--font-family-primary), sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: var(--line-height-l);
  letter-spacing: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notifications {
  position: relative;
  display: flex;
  font-size: 20px;
  margin-right: 45px;
  cursor: pointer;
}

.number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: -2px;
  right: -2px;
  background-color: var(--color-danger-500);
  font-size: 10px;
  line-height: 8px;
}

.selector {
  align-items: center;
  width: 160px !important;
  height: 22px !important;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-left: 36px;
}

.selectItem {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
