.header {
  background: var(--color-dark-700);
  border-color: var(--color-dark-300);
  padding: 12px 64px 12px 60px;
  max-width: 1280px;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logo {
  color: var(--color-light-100);
  font-family: var(--font-family-primary), sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: var(--line-height-l);
  letter-spacing: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 36px;
}