.textAreaContainer {
  position: relative;

  .label {
    color: var(--color-light-900);

    &[aria-disabled='true'] {
      color: var(--color-dark-100);
    }
  }

  .wrapper {
    background: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
    border-radius: 2px;

    transition: background 0.2s ease;

    .textArea {
      all: unset;
      width: 100%;

      padding: 6px 12px;

      &::placeholder {
        color: var(--color-light-900);
      }

      &[disabled] {
        &::placeholder {
          color: var(--color-dark-100);
        }
      }
    }

    &:has(.textArea[data-value='true']) {
      border: 1px solid var(--color-light-100);
    }

    &:focus-within {
      border-color: var(--color-accent-500);
    }

    &.error {
      border-color: var(--color-danger-500);
    }

    &:hover {
      background: var(--color-dark-300);
    }

    &:has(.textArea[disabled]) {
      background: var(--color-dark-500);
    }
  }

  .errorText {
    position: absolute;
    color: var(--color-danger-500);
  }
}
