.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 512px;
}

.description {
  padding: 24px;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imagePreview {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
  img {
    object-fit: contain;
  }
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  gap: 24px;
  padding: 24px;
  // max-height: 300px;
  // height: 100%;
}
