.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 500px;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imagePreview {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
