.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 50%;
  height: auto;
  min-height: 300px;
}

.imagePreview {
  height: 100%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  height: 100%;
}

.descriptionContainer {
  margin-bottom: 20px;
}

.textarea {
  max-width: 433px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  padding: 12px;
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  margin-top: 8px;
  background-color: var(--color-dark-500);
  color: var(--color-light-900);
  min-height: 100px;
}

.textarea:focus {
  outline: none;
  border-color: var(--color-accent-500);
}

.charCount {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  color: var(--color-light-900);
}

.buttons {
  margin-top: auto;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.error {
  color: #ed4956;
  margin-bottom: 16px;
  font-size: 14px;
}
