.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 24px;
}

.placeholder {
  width: 222px;
  height: 228px;
  border-radius: 2px;
  background-color: var(--color-dark-500);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preview {
  width: 222px;
  height: 228px;
  object-fit: contain;
  border-radius: 2px;
  background-color: var(--color-dark-500);
}

.icon {
  color: var(--color-light-100);
}

.error {
  color: var(--color-danger-500);
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 222px;

  button {
    width: 100%;
  }
}
